.about-content {
  margin-top: 220px;
}

.about-description {
  display: flex;
  flex-direction: column;
  gap: 58px;
  padding-top: 60px;
}

.about-resume {
  text-decoration: underline;
}

.about-images {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
}

.about-portrait {
  width: 100%;
}
.about-fun-facts {
  width: 150%;
  height: 150%;
  transform: translateX(-150) translateY(-23);
  z-index: 1;
}
