.header-mobile {
  padding: 45px 0 0 27px;
}
.header-desktop {
  display: flex;
  padding: 36px 55px 0px 40px;
  justify-content: space-between;
  align-items: flex-start;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 17px;
}

.header-button {
  color: var(--Mate);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: var(--text-font-size);
  font-weight: 400;
  letter-spacing: 1.87px;
  text-transform: uppercase;
  height: 102px;
  width: 102px;
  border: 1px solid;
  border-radius: 50%;
  transition: 0.5s;
  path {
    transition: 0.5s;
  }
}

.header-button:hover {
  color: var(--Black);
  svg path {
    fill: var(--Black);
    transition: 0.5s;
  }
}

.header-languages {
  display: flex;
  flex-direction: column;
  gap: 15px;
  .language {
    color: var(--Cream);
    background-color: var(--Mate);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
  }
  .window {
    display: flex;
    flex-direction: column;
    gap: 15px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    .language {
      color: var(--Mate);
      background-color: var(--Cream);
      border: 1px solid;
    }
  }
  .window.is-active {
    opacity: 1;
    pointer-events: auto;
  }
}

.header-languages.mobile {
  display: flex;
  align-items: flex-end;
  padding: 51px 0px 0 0;

  .window {
    opacity: 1;
  }
}

.header-menu-mobile {
  display: flex;
  justify-content: space-between;
}

//Media Queries
@media (max-width: 768px) {
  .header-desktop {
    display: none;
  }
}
@media (min-width: 769px) {
  .header-mobile {
    display: none;
  }
}

//Current page button
.header-homepage .homepage,
.header-about .about,
.header-contact .contact {
  color: var(--Black);
}

.header-homepage,
.header-contact,
.header-project {
  .header-open-eye {
    display: none;
  }
}

.header-about {
  .header-closed-eye {
    display: none;
  }
}
.header-open-eye {
  width: 100%;
}

.header-closed-eye {
  margin-top: 10px;
}
