// Nombre de colonnes dans la grille
$grid-columns: 12;

// Largeur des gouttières
$grid-gutter-width: 24px;

// Taille maximum du container, selon les breakpoints
$container-max-widths: (
  sm: 306px,
  md: 720px,
  lg: 960px,
  xl: 1392px,
  xxl: 1392px,
);

// Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

//Import
@import "bootstrap/scss/bootstrap-grid";
@import "font";
@import "base";
@import "layout";
@import "modules/header";
@import "modules/footer";
@import "modules/about";
@import "modules/contact";
@import "modules/project";
